################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build
obj/
.vs
/Translation/TrlUtil.pdb
/Translation/TrlUtil.exe
/Translation/KeePass.pdb
/Translation/KeePass.exe
